footer .logo {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px 0;
}

.footer-widget {
  min-width: 200px;
  padding: 10px 0;
}

footer .content {
  min-height: calc(100vh - 70vh - 80px);
}

.footer-list a {
  text-decoration: none;
  color: white;
}
.footer-list {
  list-style: none;
  padding: 0;
}

.footer-content {
  /* min-height: calc(100vh - 70vh - 80px); */
  color: white;
  background-color: #3f81b5;
}
.footer-bottom {
  height: 70px;
  display: flex;
  background-color: rgb(1, 43, 1);
  justify-content: right;
  padding-right: 20px;
}
