<div class="payment-method flex">
  <img
    src="/assets/images/card/visa.svg"
    alt="Visa icon"
    width="100"
    height="50"
    [ngClass]="{ 'flex-1': fullWidth }"
  />
  <img
    src="/assets/images/card/mastercard.svg"
    alt="Master Card icon"
    width="100"
    height="50"
    [ngClass]="{ 'flex-1': fullWidth }"
  />
  <img
    src="/assets/images/card/cb.svg"
    alt="Card icon"
    width="100"
    height="50"
    [ngClass]="{ 'flex-1': fullWidth }"
  />
  <img
    src="/assets/images/card/oney.svg"
    alt="Oney icon"
    width="100"
    height="50"
    [ngClass]="{ 'flex-1': fullWidth }"
  />
</div>
