<header>
  <div class="bars none">
    <img
      src="/assets/images/icons/bars.png"
      alt=""
      width="50"
      (click)="handleDisplayMobileNav()"
      (mouseenter)="handleDisplayMobileNav()"
    />
  </div>
  <div class="logo">
    <a routerLink="">{{ appName }}</a>
    <!-- SHOP -->
  </div>
  <div class="nav-bar">
    <ul>
      <li *ngFor="let item of nav_data">
        <a [routerLink]="item?.path">{{ item.name }}</a>
      </li>
      <li *ngFor="let item of auth_data">
        <a [routerLink]="item?.path" class="btn">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</header>
<app-aside-nav
  *ngIf="isDisplayMobileMenu"
  (close)="handleCloseMobileNav()"
></app-aside-nav>
