<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading" class="single-product flex content gap-10">
  <div class="single-product-image flex-1 flex">
    <img
      [src]="product ? product.imageUrl[0] : ''"
      [alt]="product?.name"
      alt=""
    />
  </div>
  <div class="single-product-details flex-1">
    <h2>{{ product?.name }}</h2>
    <div class="modal-product-view-details-price">
      <h4>{{ (product?.sold_price || 0) / 100 | currency : "EUR" }}</h4>
      <del>
        <h4>
          {{ (product ? product.regular_price : 0) / 100 | currency : "EUR" }}
        </h4>
      </del>
    </div>
    <div class="modal-product-view-details-created-at">
      Créé le {{ product?.created_at | date : "dd/MM/yyyy" }}
    </div>
    <div class="product-action-button">
      <button class="btn-details">Pay now</button>
    </div>
  </div>
</div>
