<div class="signup">
  <div class="form-container">
    <form action="">
      <h2>Inscription</h2>
      <div class="form-line flex gap-10 wrap">
        <input
          class="flex-1"
          type="text"
          name="firstname"
          id="firstname"
          placeholder="Your firstname ..."
          [(ngModel)]="user.firstname"
        />
        <input
          class="flex-1"
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Your lastname ..."
          [(ngModel)]="user.lastname"
        />
      </div>
      <div class="form-line flex">
        <input
          class="flex-1"
          type="email"
          name="email"
          id="email"
          placeholder="Your email please ..."
          [(ngModel)]="user.email"
        />
      </div>
      <div class="form-line flex">
        <input
          class="flex-1"
          type="password"
          name="password"
          id="password"
          placeholder="Your password please ..."
          [(ngModel)]="user.password"
        />
      </div>
      <div class="form-line flex">
        <input
          class="flex-1"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm your password please ..."
          [(ngModel)]="user.confirmPassword"
        />
      </div>
      <button class="btn" (click)="handleSubmit()">S'inscrire</button>
    </form>
  </div>
</div>

<!-- <div class="signup signin">
  <h1>Inscription</h1>

  <div class="username gap-5">
    <div class="form-inline firstname">
      <input
        type="text"
        name="firstname"
        id="firstname"
        placeholder="Your lastname ..."
        [(ngModel)]="firstname"
      />
    </div>
    <div class="form-inline lastname">
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Your lastname ..."
        [(ngModel)]="lastname"
      />
    </div>
  </div>
  <div class="form-inline email flex">
    <input
      type="email"
      name="email"
      id="email"
      autocomplete="off"
      placeholder="Your email please ..."
      [(ngModel)]="email"
    />
  </div>
  <div class="form-inline password flex">
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Your password please ..."
      [(ngModel)]="password"
    />
  </div>
  <div class="form-inline password flex">
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Confirm your password please ..."
      [(ngModel)]="confirmPassword"
    />
  </div>

  <button class="btn" (click)="saveUserFirstname()">S'inscrire</button>
  {{ userData | json }}
</div> -->
