@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-familly: "Lato", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}

.b {
  border: 0.1px solid black;
}
.none{
  display: none;
}

.flex,
.row {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.btn {
  min-width: 150px;
  height: 40px;
  margin: 10px 0;
  padding: 10px 0;
  color: #1d1d1d;
  cursor: pointer;
  outline: none;
}

.content {
  width: 70%;
  margin: 0 auto;
  min-height: 70vh;
}

.unlisted {
  list-style: none;
  padding: 0;
}

/********************************************************************/
/*********************** ADDITIONAL INFO *************************/
/********************************************************************/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ccc;
}
table td {
  padding: 0 10px;
}

.vendor-name h6 {
  font-size: 2rem;
}
.vendor-name h6 a {
  text-decoration: none;
  color: #3f51b5;
}

.thumb img {
  width: 80px;
  border-radius: 200px;
}

/********************************************************************/
/*********************** COMMENTS  *************************/
/********************************************************************/
.single-comment {
  border: 0.1px solid #ccc;
  margin: 20px 0;
  border-radius: 20px;
}
.single-comment .thumb a {
  display: block;
}
.single-comment a {
  text-decoration: none;
  color: #3f51b5;
  font-weight: bold;
  text-align: center;
}

.single-comment .user {
  gap: 10px;
  padding: 10px 0;
}

.single-comment .user .desc {
  max-width: 600px;
}

.comments-area > .row {
gap: 20px
}

.comments-area > .row > div:nth-child(2) {
  flex: 1;
}

.comments-area > .row > div:nth-child(2) .progress {
  display: flex;
  gap: 10px
  margin-bottom: 10px
}
.comments-area > .row > div:nth-child(2) .progress .progress-bar {
  flex: 1;
  color: white
  font-weight: bold
}

.progress-bar {
  width: 100%;
  background-color: #3f51b5;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .content {
    width: 95%;
  }
}

/********************************************************************/
/*********************** SIGNIN AND SIGNUP  *************************/
/********************************************************************/

.signup {
  height: 70vh;
}

.form-container {
  width: 550px;
  position: relative;
  top: 50%;
  left: 50%;
  border: 0.1px solid #ccc;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.btn {
  margin-top: 25px;
  font-size: 1.4rem;
  height: 50px;
  background-color: #1d1d1d;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px;
}

.btn-main {
  background-color: #3f51b5;
}

.btn-details {
  min-width: 90px;
  height: 40px;
  padding: 5px;
  color: #fff;
  background-color: #1d1d1d;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px;
}

.btn-main {
  background-color: #3f51b5;
}

form {
  padding: 5px;
}

form h2 {
  text-align: center;
}

form .form-line {
  min-height: 40px;
  padding: 10px 0;
}

form .form-line input {
  font-size: 1.1rem;
  height: 40px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.tc {
  text-align: center;
}

.error {
  color: red;
}

form p {
  margin: 0;
}

@media screen and (max-width: 550px) {
  .form-container {
    width: 90%;
  }
}

/********************************************************************/
/*********************** SINGLE PRODUCT  *************************/
/********************************************************************/
