body {
  margin: 0px;
  padding: 0px;
  font-familly: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.btn {
  min-width: 150px;
  height: 40px;
  margin: 10px 0;
  padding: 10px 0;
  color: #1d1d1d;
  cursor: pointer;
  outline: none;
}
