<div class="signup">
  <div class="form-container">
    <form action="" [formGroup]="signinForm">
      <h2>Sign In</h2>
      <p class="tc">
        Dont't have an account? If yes then click here to
        <a routerLink="/signup">Register</a>
      </p>
      <div class="form-line flex">
        <input
          [formControl]="email"
          class="flex-1"
          type="email"
          name="email"
          id="email"
          placeholder="Your email please ..."
        />
      </div>
      <div class="error" *ngIf="email.dirty && !email.valid">
        <p *ngIf="email.hasError('required')">Email required.</p>
        <p *ngIf="!email.hasError('required')">This email is not valid.</p>
      </div>
      <div class="form-line flex">
        <input
          class="flex-1"
          type="password"
          name="password"
          id="password"
          [formControl]="password"
          placeholder="Your password please ..."
        />
      </div>
      <div class="error" *ngIf="password.dirty && !password.valid">
        <p *ngIf="password.hasError('minlength')">
          This password must be at least 6 characters.
        </p>
        <p *ngIf="password.hasError('required')">This password is required</p>
      </div>
      <button
        class="btn"
        (click)="handleSubmit()"
        [disabled]="!signinForm.valid"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
